/* =========================================================================
   TABLE OF CONTENTS
   ========================================================================= */

/**
 * This style sheet is divided into sections containing rules relevant to
 * sections’ titles. Sections are organized like so: general styles first,
 * then by component, in order of appearance in the html.
 *
 * General style sections:
 * 1. LAYOUT - overall layout and positioning styles
 * 2. NAVIGATION - <li>-element global styles, link styles & pseudo classes
 * 3. TYPOGRAPHY - text styling and sizing, custom highlight text color
 *
 * Sections of code by component, in the order of their appearance:
 * 4. HEADER SVG AVATAR - an SVG self-portrait with a fallback
 * 5. MAIN NAV - <h1>-text navigation
 * 6. SOCIAL MEDIA ICONS - links to my profiles and social media
 * 7. OFF-CANVAS "ABOUT" -SECTION - The "About" section with off-canvas transform
*/


/* =========================================================================
   1. LAYOUT
   ========================================================================= */

/* TODO: to Normalize, add overrides to element margins, paddings etc. from the orig. reset */
/* Normalize: https://necolas.github.io/normalize.css/; */
/* @import url("/bower_components/normalize-css/normalize.css"); */


/* Apply a natural box layout model to all elements; Slightly better version from:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* for development: see every single box that make up the page */
/* <-- clear this * to use
* {
  border: 1px solid red !important;
}
*/

html {
  font-size: 16px;
  background-color: #fff;
}

body {
  width: 100%;
}


/* =========================================================================
   2. NAVIGATION
   ========================================================================= */

/* ===== Main nav styles ===== */

li {
  display: inline;
}

/* ===== Link styles ===== */

a {
  color: #595959;
  text-decoration: none;
}

a:hover {
  color: #e84343; 
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
}


/* =========================================================================
   3. TYPOGRAPHY
   ========================================================================= */

/* ===== Primary type styling ===== */

  @font-face { 
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-webfont.eot");
    src: url("../fonts/BebasNeue-webfont.eot?#iefix")     format("embedded-opentype"),
         url("../fonts/BebasNeue-webfont.woff")           format("woff"),
         url("../fonts/BebasNeue-webfont.ttf")            format("truetype"),
         url("../fonts/BebasNeue-webfont.svg#BebasNeue")  format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "BebasNeue", Helmet, Freesans, sans-serif;
  font-size: 1.6em;
  color: #333;
  text-align: center;
  text-transform: uppercase; 
}

h1 {
  /* needed for FitText.js */
  display: inline-block;
  width: 100%;
  text-align: center;
  text-indent: -.1em;
  /* (end) needed for FitText.js*/

  font-size: 4.06em; /* 104px */
  line-height: .9; /* 89px */
}

h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-indent: -.1em;

  font-size: 3.71em; /* 95px */
  line-height: 1; /* 80px */
}

h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-indent: -.1em;

  font-size: 2.61em; /* 67px */
  line-height: 1; /* 63px */
}

/* ===== Custom text-selection colors ===== */

::-moz-selection, {
  text-shadow: none; 
  background-color: #f7e5c8;
}
::selection {
  text-shadow: none;
  background-color: #fffa80;
}


/* =========================================================================
   4. HEADER SVG AVATAR
   ========================================================================= */

/* Div that holds the svg data <object> */
.svg-container {
  position: relative;
  display: inline-block;
  width: 100%; /* needed to draw the svg */
  padding-bottom: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  vertical-align: middle;
}

/* svg data <object> */
#avatar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

/* png fallback of the svg header img*/
#avatar div {
  display: block;
  height: auto; /* 600px; */
  max-width: 100%;
  margin-bottom: 20px;
  background: center center no-repeat;
  background-image: url("../img/avatar.png");
  background-size: contain;
}


/* =========================================================================
   5. MAIN TEXT-NAVIGATION
   ========================================================================= */

.main-nav {
  padding-top: 0px;
}

.main-nav li {
  margin-right: 5px;
}


/* =========================================================================
   6. SOCIAL MEDIA ICONS
   ========================================================================= */

.some-nav {
  padding-top: 10px;
} 

.some-links {
  padding-top: 10px;
}
/* Hide the hyperlinked text under the icons */
.some-links li a {
  opacity: 0;
}

/* TODO: could the icons themselves work as links? */
.icon {
  display: inline-block;
  width: 51px; /* original png size 38px */
  height: 51px; /* TODO: Seems like this only sizes the container, not the icons. Could removing the width and height values from the icon svgs work? */
  margin-left: 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  transform: scale(1);
  -webkit-transition: background-color .2s ease-out, transform .2s ease-out;
     -moz-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
       /* transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.icon:hover, .icon:focus, .icon:active { 
  cursor: pointer;
  transform: scale(1.2);
}


/* =========================================================================
   7. OFF-CANVAS "ABOUT" -SECTION
   ========================================================================= */

.site-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

}

.site-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;

  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
       -0-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .8s ease-in-out all;
     -moz-transition: .8s ease-in-out all;
       -0-transition: .8s ease-in-out all;
          transition: .8s ease-in-out all;
  /* padding: 5% 0; /* Temp: Just spacing. */
}

/* Animation to show the about page */
.hide-main .site-canvas {
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
       -0-transform: translateX(-100%);
          transform: translateX(-100%);
}

.site-canvas-inner {
  /* max-width: 79.86vh; /* kokosivun versio (omakuvalla)= 95vh; on 600px; */ /* TODO: RWD leiskakokeilu. Tämän määrittely ehkä osaksi SVG-objektia. Mites fallback, png on pienempi? */
  max-width: 600px;
  min-width: 200px;
  min-height: 100%; /* "because in browsers other than Internet Explorer, content that is longer than the fixed height of an element just spills over the edge."? */
  /* height: 100%; */
  overflow: hidden;
  margin: 0px auto; /* centers the content */
}

/* About-section content styling */
.about-section {
  top: 0;
  right: -100%; /* position of the off-canvas content */
  width: 100%;
  height: 100%;
  max-width: 600px;
  min-width: 200px;
  min-height: 100%;
  position: absolute;
  overflow: hidden;
  padding: 20px;
}

/* "About"-text */
.about-section p {

}

.about-section img {

}
